.titulo{
    color: #1d5791;
    font-size: 22px;
    text-align: center;
    padding: 1.5em 0 1em;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    font-family: 'Rubik',sans-serif!important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}