<div class="col-12">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>El cid</th>
                            <th>S/. 15</th>
                            <th>1</th>
                            <th>S/. 15</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="row mr-3 ml-3">
                <div class="col-12 mt-2">
                <label for="exampleFormControlInput1">Departamento</label>
                    <select class="form-control">
                        <option>Lima</option>
                    </select>
                </div>
                <div class="col-12 mt-2">
                    <label for="exampleFormControlInput1">Provincia</label>
                        <select class="form-control">
                            <option>Lima</option>
                    </select>
                </div>
                <div class="col-12 mt-2">
                    <label for="exampleFormControlInput1">Distrito</label>
                        <select class="form-control">
                            <option>Lima</option>
                        </select>
                </div>
                <div class="col-12 mt-2">
                    <button type="button" class="btn btn-light btn-lg btn-block">Estimar</button>
                </div>
            </div>
            <div class="row mr-3 ml-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6"><h5>Delivery</h5></div>
                        <div class="col-6 text-right">S/. 20</div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-6"><h5>Total</h5></div>
                        <div class="col-6 text-right">S/. 50</div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
