<div class="col-12 mt-3">
  <div class="row">
    <div class="col-0 col-sm-0 col-md-2 col-lg-3 col-xl-4"></div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
      <div class="row border rounded">
        <div class="col-12 col-lg-12">
          <p class="titulo">Resumen de orden</p>
          <pre></pre>
          <p [style.visibility]="!isLoading ? 'visible': 'hidden'" class="producto mt-2 pb-2" data-toggle="collapse" href="#productos"><strong>{{items}} Producto en el carrito</strong></p>
          <div class="collapse col-12" id="productos">
            <div *ngFor="let l of libro" class="row mt-2 mb-0">
              <div class="col-2">
                <p><strong *ngIf="l.type=='A'">Alquiler</strong></p>
                <p><strong *ngIf="l.type=='V'">Venta</strong></p>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-8">
                    <p class="title">{{l.title}}</p>
                    <p class="title">Cantidad:  {{l.quantity}}</p>
                  </div>
                  <div class="col-4">
                    <p class="title">S/. {{l.price}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="row nomargin">
              <div class="col-4"></div>
              <div class="col-4 text-center">
                <mat-spinner class="centro" diameter="60" [style.visibility]="isLoading ? 'visible': 'hidden'"></mat-spinner>
              </div>
              <div class="col-4"></div>
            </div>
        <div [style.visibility]="!isLoading ? 'visible': 'hidden'" class="col-12 col-lg-12 mt-2">
          <div class="row mt-0 mb-0">
            <div class="col-6 "><p class="text-left">Envio</p></div>
            <div class="col-6 "><p class="text-right">S/. {{delivery}}</p></div>
          </div>
          <div class="row">
            <div class="col-6 "><p class="text-left">Subtotal</p></div>
            <div class="col-6 "><p class="text-right">S/. {{total}}</p></div>
          </div>
          <div class="row">
            <div class="col-6 "><p class="text-left total">Total del pedido</p></div>
            <div class="col-6 "><p class="text-right txt-precio">S/. {{total2}}</p></div>
          </div>
        </div>
        <div [style.visibility]="!isLoading ? 'visible': 'hidden'" class="col-12 mt-1 pb-4 text-center">
          <button type="button" class="btn btn-amarillo pl-4 pr-4"><span class="comprar" (click)="pago()">FINALIZAR COMPRA</span></button>
          <div class="btn_error left-align no-padding" id="btnPago">
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-0 col-md-2 col-lg-3 col-xl-4"></div>

  </div>
</div>
