<div class="col-12 mt-3">
  <div class="row">
    <div class="col-0 col-sm-0 col-md-3 col-lg-4 col-xl-4"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="row border rounded">
        <div class="col-12 col-lg-12">
          <p class="titulo">Resumen de orden</p>
          <pre></pre>
          <p class="producto mt-2 pb-2" data-toggle="collapse" href="#productos">Producto en el carrito</p>
          <div class="collapse col-12" id="productos">
            <p>producto</p>
          </div>
        </div>
        <div class="col-12 col-lg-12 mt-2">
          <div class="row">
            <div class="col-6 "><p class="text-left">Envio</p></div>
            <div class="col-6 "><p class="text-right">S/. </p></div>
          </div>
          <div class="row">
            <div class="col-6 "><p class="text-left total">Total del pedido</p></div>
            <div class="col-6 "><p class="text-right">S/. </p></div>
          </div>
        </div>
        <div class="col-12 mt-1 pb-4 text-center">
          <button type="button" class="btn btn-amarillo pl-4 pr-4"><span class="comprar">FINALIZAR COMPRA</span></button>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-0 col-md-3 col-lg-4 col-xl-4"></div>

  </div>
</div>
