/* You can add global styles to this file, and also import other style files */
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ffa600!important;
}
.footer{
  background: rgb(29, 87, 145);
  min-height: 100px;
  position: fixed;
  bottom: 0px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
