<div class="col-12 mt-3">
  <div class="row">
      <div class="col-lg-3 col-0"></div>
      <div class="col-lg-3 col-12">
          <div class="row m-3 border border-dark rounded">
              <div class="col-lg-12 col-sm-12">
                  <form role="form" class="center-align" [formGroup]="planForm">
                  <div class="row">
                      <div class="form-group col-md-12 text-center">
                          <h1 class="m-3 titulo">PLAN FREE</h1>
                          <p class="m-3">No cuenta con ningun beneficio</p>
                      </div>

                      <div class="form-group col-md-12 mt-2 text-center">
                          <h1 class="m-3 titulo-2">GRATIS</h1>
                          <button class="btn btn-login btn-block" [disabled]="!planForm.valid" [style.visibility]="isLoading ? 'hidden': 'visible'">Elegir</button>
                          <!-- <button type="button" class="btn btn-login btn-block">Iniciar sesion</button> -->
                          <div class="container nomargin">
                            <div class="row nomargin">
                              <div class="col-4"></div>
                              <div class="col-4 text-center">
                                <mat-spinner class="centro" diameter="25" [style.visibility]="isLoading ? 'visible': 'hidden'"></mat-spinner>
                              </div>
                              <div class="col-4"></div>
                            </div>
                          </div>
                      </div>

                  </div>
                  </form>
              </div>

          </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="row m-3 border border-dark rounded">
            <div class="col-lg-12 col-sm-12">
                <form role="form" class="center-align" [formGroup]="planForm">
                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <h1 class="m-3 titulo">PLAN COBRE</h1>
                        <p class="m-3">Cuenta con 5% de descuento en toda la tienda</p>
                    </div>

                    <div class="form-group col-md-12 mt-2 text-center">
                        <h1 class="m-3 titulo-2 text-center">PEN 5.00/mes</h1>
                        <button class="btn btn-login btn-block" [disabled]="!planForm.valid" [style.visibility]="isLoading ? 'hidden': 'visible'">Elegir</button>
                        <!-- <button type="button" class="btn btn-login btn-block">Iniciar sesion</button> -->
                        <div class="container nomargin">
                          <div class="row nomargin">
                            <div class="col-4"></div>
                            <div class="col-4 text-center">
                              <mat-spinner class="centro" diameter="25" [style.visibility]="isLoading ? 'visible': 'hidden'"></mat-spinner>
                            </div>
                            <div class="col-4"></div>
                          </div>
                        </div>
                    </div>

                </div>
                </form>
            </div>

        </div>
    </div>
      <div class="col-lg-3 col-0"></div>
  </div>

</div>
