.titulo{
  color: #1d5791;
  font-size: 24px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  font-family: 'Rubik',sans-serif!important;
}
.titulo-2{
  color: #111111;
  font-size: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  font-family: 'Rubik',sans-serif!important;
}
.btn-login{
  background: #ffa600!important;
  border: 1px solid #ffa600!important;
  border-radius: 2.5em!important;
  color: #fff;
}
.descripcion{
  text-align: center;
  font-weight: 600;
  color: #333;
  line-height: 1.42857143;
  font-size: 1.4rem;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.olvido{
  color: #ffa600;
  font-family: 'Rubik',sans-serif!important;
  cursor: pointer;
}
.ingresa{
  display: block;
  width: 100%;
  clear: both;
  padding: .2em 1em;
  position: relative;
  text-align: center;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.42857143;
}
.ingresa:before {
  content: '';
  width: 25%;
  height: 1px;
  background: #ddd;
  display: block;
  top: 12px;
  position: absolute;
  left: 10px;
}
.ingresa:after {
  content: '';
  width: 25%;
  height: 1px;
  background: #ddd;
  display: block;
  top: 12px;
  position: absolute;
  right: 10px;
}
.centro{
align-items: center;
align-self: center;
align-content: center;
text-align: center;
}
.nomargin{
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

